<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-12 mb-3">
      <div class="card h-100" style="width: 9rem;" routerLink="../latesubmission">
        <img src="../../../../assets/images/submission.png" class="card-img-top" alt="Late Submission">
        <div class="card-body">
          <h6 class="card-title text-center"><i>Late Submission</i></h6>
        </div>
      </div>
    </div>
    
    <div class="col-md-3 col-sm-12 mb-3 ms-5">
      <div class="card h-100" style="width: 9rem;" routerLink="../todocard" >
        <img src="../../../../assets/images/todo.png" class="card-img-top" alt="To-Do Task">
        <div class="card-body">
          <h6 class="card-title text-center"><i>To-do Tasks</i></h6>
        </div>
      </div>
    </div>
    
    <div class="col-md-3 col-sm-12 mb-3 ms-5">
      <div class="card h-100" style="width: 9rem;" routerLink="../pending">
        <img src="../../../../assets/images/PENDINGS.png" class="card-img-top" alt="Pending Tasks">
        <div class="card-body">
          <h6 class="card-title text-center"><i>Pending Task</i></h6>
        </div>
      </div>
    </div>
  </div>
</div>
