<div class="wrapper">
    <div class="main p-3">
        <nav class="navbar navbar-expand-lg bg-white rounded-4 sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Artful-stikies</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <form class="d-flex me-5" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <div class="bell">
                                <img src="../assets/images/bellred.jpg" alt="" width="40px" class="me-4" >
                            <div class="conta">
                                <img src="../assets/images/chat1.png" alt="Avatar" width="40px">
                                <p><span style="color: blue; font-size: 15px;">Emmirates</span> added you in a project ui/ux design</p>
                                <p><span style="color: green; font-size: 15px; margin-left: 210px; position: relative; bottom: 20px;">2hrs ago</span></p>
                               
                            </div>
                            </div>
                            
                        </li>
                        <li class="nav-item top">
                            <img src="../assets/images/per6.avif" alt="" width="40px" height="40px" class="rounded-circle me-2">
                            <div class="end">
                              <span *ngIf="loggedInUsername">{{ loggedInUsername }}</span>
                                <h6>User</h6>
                              </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

  <div class="container mt-4 ms-3">
    <div class="row d-flex flex-row mb-3">
      <div *ngFor="let note of notes" class="col-sm-4 col-md-3">
        <div class="noteHolder">
          <div class="note rounded" [style.background-color]="noteStates[note.id].noteColor">
            <textarea class="form-control" [id]="note.id">{{ note.content }}</textarea>
            
            <div class="action mt-2">
              <div *ngIf="noteStates[note.id].showColorPalette" class="color-palette">
                <button *ngFor="let color of colorOptions" type="button" class="color-option" (click)="changeColor(note.id, color)">
                  <i class="fa fa-square fa-lg" [style.color]="color" ></i>
                 
                </button>
              </div>
              
              <button type="button" class="btn btn-edit" (click)="toggleColorPalette(note.id)">
                <i class="fa" [ngClass]="noteStates[note.id].showColorPalette ? 'fa-times' : 'fa-pencil'"></i>
              </button>
              
              <button type="button" class="btn btn-del" (click)="deleteNote(note.id)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-add" (click)="addNote()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
  
  
  
  
</div>
</div>