<div class="card dcard">
    <div class="card-header" style="font-weight: 700;">
      Team Members
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <img src="../assets/images/chat1.png" class="img-fluid rounded-circle" alt="Image 1" width="70px" height="70px">
          <p> john smith</p>
        </div>
        <div class="col">
          <img src="../assets/images/chat2.png" class="img-fluid rounded-circle" alt="Image 1" width="70px" height="70px">
          <p>john smith</p>
        </div>
        <div class="col">
          <img src="../assets/images/chat3.png" class="img-fluid rounded-circle" alt="Image 1" width="70px" height="70px">
          <p>john smith</p>
        </div>
      </div>
    </div>
  </div>
