<div class="right-bar mt-2 col-lg-12 ">
    <div class="right-content d-flex flex-wrap">
        <div class="task-box yellow col-lg-6 col-md-6 col-sm-12">
            <div class="description-task">
                <div class="time">08:00 - 09:00 AM</div>
                <div class="task-name">Project Review</div>
            </div>
            <div class="more-button"></div>
            <div class="members">
                <img src="../assets/images/profile.jpg" alt="member" class="rounded-circle" />
                <img src="../assets/images/per1.avif" alt="member-2" class="rounded-circle" />
                <img src="../assets/images/per3.avif" alt="member-3" class="rounded-circle" />
                <img src="../assets/images/per4.avif" alt="member-4" class="rounded-circle" />
            </div>
        </div>

        <div class="task-box blue col-lg-6 col-md-6 col-sm-12">
            <div class="description-task">
                <div class="time">10:00 - 11:00 AM</div>
                <div class="task-name">Requirements</div>
            </div>
            <div class="more-button"></div>
            <div class="members">
                <img src="../assets/images/per1.avif" alt="member-2" />
                <img src="../assets/images/per3.avif" alt="member-3" />
                <img src="../assets/images/per4.avif" alt="member-4" />
            </div>
        </div>

        <div class="task-box violet col-lg-6 col-md-6 col-sm-12">
            <div class="description-task">
                <div class="time">01:00 - 02:00 PM</div>
                <div class="task-name">Team Meeting</div>
            </div>
            <div class="more-button"></div>
            <div class="members">
                <img src="../assets/images/per1.avif" alt="member-2" />
                <img src="../assets/images/per3.avif" alt="member-3" />
                <img src="../assets/images/per4.avif" alt="member-4" />
                <img src="../assets/images/per2.avif" alt="member-4" />
            </div>
        </div>

        <div class="task-box greens col-lg-6 col-md-6 col-sm-12">
            <div class="description-task">
                <div class="time">03:00 - 04:00 PM</div>
                <div class="task-name">Mindmapping</div>
            </div>
            <div class="more-button"></div>
            <div class="members">
                <img src="../assets/images/per2.avif" alt="member" />
                <img src="../assets/images/profile.jpg" alt="member-2" />
                <img src="../assets/images/per1.avif" alt="member-2" />
                <img src="../assets/images/per3.avif" alt="member-3" />
                <img src="../assets/images/per4.avif" alt="member-4" />
            </div>
        </div>
    </div>
</div>
