
    <div class="plain rounded me-3 mt-4">
      <div class="row">
        <div class="col-6">
          <div class="file px-3">
            <img src="../assets/images/file" alt="" width="130px" class="img-fluid">
            <p class="text-md p-1"><a routerLink="../viewcards">view submitted files</a></p>
          </div>
        </div>
  
        <div class="col-6 ">
          <div id="circular-progress" class="circular-progress ms-5">
            <span class="progress-value">0%</span>
            <p class="text">pending status</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 px-5">
          <div id="circular-progress2" class="circular-progress circular-progress2">
            <span class="progress-value2">0%</span>
            <p class="text">Late submission</p>
          </div>
        </div>
        <div class="col-6 px-5">
          <div id="circular-progress3" class="circular-progress circular-progress3 ms-3">
            <span class="progress-value3">0%</span>
            <p class="text">On time submission</p>
          </div>
        </div>
      </div>
    </div>
 
  
