
<div class="wrapper">
    <div class="main p-3">
        <nav class="navbar navbar-expand-lg bg-white rounded-4 sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Assigned Tasks</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <form class="d-flex me-5" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <div class="bell">
                                <img src="../assets/images/bellred.jpg" alt="" width="40px" class="me-4" >
                            <div class="conta">
                                <img src="../assets/images/chat1.png" alt="Avatar" width="40px">
                                <p><span style="color: blue; font-size: 15px;">Emmirates</span> added you in a project ui/ux design</p>
                                <p><span style="color: green; font-size: 15px; margin-left: 210px; position: relative; bottom: 20px;">2hrs ago</span></p>
                               
                            </div>
                            </div>
                            
                        </li>
                        <li class="nav-item top">
                            <img src="../assets/images/per6.avif" alt="" width="40px" height="40px" class="rounded-circle me-2">
                            <div class="end">
                                <span *ngIf="loggedInUsername">{{ loggedInUsername }}</span><br>
                                <h6>User</h6>
                              </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <br>
        <br>
<!-- massigntask.component.html -->

<!-- massigntask.component.html -->

<div class="table-responsive" width="100%">
    <table class="table table-bordered" id="table-1">
      <thead>
       
            <tr>
                <th>task</th>
                <th>asignee</th>
                <th>duedate</th>
                <th>priority</th>
                <th>description</th>
                <th>file</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let submission of submissions">
                <td>{{submission.task}}</td>
                <td>{{submission.employee}}</td>
                <td>{{submission.employeeEndDate}}</td>
                <td>{{submission.priority}}</td>
                <td>{{submission.description}}</td>
                <td><a href="../../../assets/images/pdf doc.pdf" target="_blank"><img src="../../../assets/images/pdf.png" alt="" width="30px"></a></td>
    
            </tr>
        </tbody>
    </table><br><br>
</div>

  
    </div>
</div>
