<div class="wrapper">
    <div class="main p-3">
        <nav class="navbar navbar-expand-lg bg-white rounded-4 sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Projects</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <form class="d-flex me-5" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <div class="bell">
                                <img src="../assets/images/bellred.jpg" alt="" width="40px" class="me-4">
                                <div class="conta">
                                    <img src="../assets/images/chat1.png" alt="Avatar" width="40px">
                                    <p><span style="color: blue; font-size: 15px;">Emmirates</span> added you in a
                                        project ui/ux design</p>
                                    <p><span
                                            style="color: green; font-size: 15px; margin-left: 210px; position: relative; bottom: 20px;">2hrs
                                            ago</span></p>

                                </div>
                            </div>

                        </li>
                        <li class="nav-item top">
                            <img src="../assets/images/per6.avif" alt="" width="40px" height="40px"
                                class="rounded-circle me-2">
                            <div class="end">
                                <span *ngIf="loggedInUsername">{{ loggedInUsername }}</span>
                                <h6>User</h6>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <br>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="../individual">Back</a></li>
                <li class="breadcrumb-item active" aria-current="page">Projects</li>
            </ol>
        </nav>
        <div style="height: 350px; overflow-y: scroll;" class="scroll">
            <div class="row bg-white p-3 area m-3">

                <div class="col-md-7">
                    <h5 class="text-decoration-underline">project name</h5>
                    <p class="fs-6">sample project</p><br>
                    <h5 class="text-decoration-underline">Decsription</h5>
                    <p class="fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo voluptate earum?
                        Molestias error fugit, adipisci nam dolor, nisi sequi consequuntur qui, eveniet nemo voluptatum
                        dolorum quos aperiam animi alias!</p>
                </div>
                <div class="col-md-5">
                    <h5 class="text-decoration-underline">Start-Date</h5>
                    <p class="fs-6">November 03,2023</p>
                    <h5 class="text-decoration-underline">End-Date</h5>
                    <p class="fs-6">November 03,2023</p>
                    <h5 class="text-decoration-underline">Status</h5>
                    <p class="fs-6">on-progress</p>
                    <h5 class="text-decoration-underline mb-2">Project Manager</h5>
                    <img src="../assets/images/per4.avif" alt="" width="40px" height="40px" class="rounded-circle me-2">
                    <span> john smith</span>
                </div>
            </div>
            <div class="container mt-3">
                <div class="row">
                    <div class="col-md-4">
                        <app-tteam></app-tteam>
                    </div>
                    <div class="col-md-8">
                        <app-ttable></app-ttable>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>