
<div class="col col-lg-10 col-md-12 col-sm-12">

    <div class="container c1">
      
        <div class="row mt-4">
            <div >
                <select class="form-select" (change)="onMonthChange($event)" style="max-width: 300px;">
                    <option value="January">Select Analysis</option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="May">May</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                    
                </select><br>
                <div class="c ms-5">
                    <canvas id="Chart2"></canvas>
                </div>
              
            </div>
            
        </div>
    </div>        
</div>

