<div class="card ms-4" style="width: 17rem;">
    <div class="d-flex">
    <div class="card-body">
      <h5 class="card-title">Illustartions</h5>
      <p class="card-text"><span class="badge bg-info text-dark">ON-HOLD</span></p>
      <img src="../../../../assets/images/chat2.png" alt="" width="35px" class="img-fluid">
      <img src="../../../../assets/images/chat1.png" alt="" width="35px" style="position: relative; left: -10px;" class="img-fluid">
      <img src="../../../../assets/images/plus.png" alt="" width="25px" style="position: relative; left: -20px;" class="img-fluid">

    </div>
       <img src="../../../../assets/images/prev.png" alt="" width="100%" style="position: relative; left: -70px;" class="img-fluid">
    </div>
  </div>

  <div class="card mt-4 ms-4" style="width: 17rem;">
    <div class="d-flex">
    <div class="card-body">
      <h5 class="card-title">Illustartions</h5>
      <p class="card-text"><span class="badge bg-info text-dark">ON-HOLD</span></p>
      <img src="../../../../assets/images/chat2.png" alt="" width="35px" class="img-fluid">
      <img src="../../../../assets/images/chat1.png" alt="" width="35px" style="position: relative; left: -10px;" class="img-fluid">
      <img src="../../../../assets/images/plus.png" alt="" width="25px" style="position: relative; left: -20px;" class="img-fluid">

    </div>
       <img src="../../../../assets/images/prev.png" alt="" width="100%" style="position: relative; left: -70px;" class="img-fluid">
    </div>
  </div>

  <div class="card mt-4 ms-4" style="width: 17rem;">
    <div class="d-flex">
    <div class="card-body">
      <h5 class="card-title">Illustartions</h5>
      <p class="card-text"><span class="badge bg-info text-dark">ON-HOLD</span></p>
      <img src="../../../../assets/images/chat2.png" alt="" width="35px" class="img-fluid">
      <img src="../../../../assets/images/chat1.png" alt="" width="35px" style="position: relative; left: -10px;" class="img-fluid">
      <img src="../../../../assets/images/plus.png" alt="" width="25px" style="position: relative; left: -20px;" class="img-fluid">

    </div>
       <img src="../../../../assets/images/prev.png" alt="" width="100%" style="position: relative; left: -70px;" class="img-fluid">
    </div>
  </div>