<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="teammates d-flex flex-wrap justify-content-center align-items-center">
                <div class="members">
                    <div class="profile-card">
                        <div class="front">
                            <img src="../assets/images/person.jpeg" alt="" class="img-fluid">
                        </div>
                        <div class="back">
                            <h2>Nishanth</h2>
                            <p>
                                <a routerLink="../individual"> <b>Completed tasks:</b> 30<br>
                                <b>Task name:</b> Task management<br>
                                <b>Progress:</b> 80%<br>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="members">
                    <div class="profile-card">
                        <div class="front">
                            <img src="../assets/images/chat1.png" alt="" class="img-fluid">
                        </div>
                        <div class="back">
                            <h3>Nishanth</h3>
                            <p>
                                <a routerLink="../individual"><b>Completed tasks:</b> 30<br>
                                <b>Task name:</b> Task management<br>
                                <b>Progress:</b> 80%<br>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="members">
                    <div class="profile-card">
                        <div class="front">
                            <img src="../assets/images/chat2.png" alt="" class="img-fluid">
                        </div>
                        <div class="back">
                            <h3>Nishanth</h3>
                            <p>
                                <b>Completed tasks:</b> 30<br>
                                <b>Task name:</b> Task management<br>
                                <b>Progress:</b> 80%<br>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="members">
                    <div class="profile-card">
                        <div class="front">
                            <img src="../assets/images/chat3.png" alt="" class="img-fluid">
                        </div>
                        <div class="back">
                            <h3>Diego</h3>
                            <p>
                                <b>Completed tasks:</b> 30<br>
                                <b>Task name:</b> Task management<br>
                                <b>Progress:</b> 80%<br>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="members">
                    <div class="profile-card">
                        <div class="front">
                            <img src="../assets/images/chat5" alt="" class="img-fluid">
                        </div>
                        <div class="back">
                            <h3>Joes</h3>
                            <p>
                                <b>Completed tasks:</b> 30<br>
                                <b>Task name:</b> Task management<br>
                                <b>Progress:</b> 80%<br>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="members">
                    <div class="profile-card">
                        <div class="front">
                            <img src="../assets/images/chat2.png" alt="" class="img-fluid">
                        </div>
                        <div class="back">
                            <h3>Nishanth</h3>
                            <p>
                                <b>Completed tasks:</b> 30<br>
                                <b>Task name:</b> Task management<br>
                                <b>Progress:</b> 80%<br>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="members">
                    <div class="profile-card">
                        <div class="front">
                            <img src="../assets/images/chat6.jpeg" alt="" class="img-fluid">

                        </div>
                        <div class="back">
                            <h3>Pooja</h3>
                            <p>
                                <b>Completed tasks:</b> 30<br>
                                <b>Task name:</b> Task management<br>
                                <b>Progress:</b> 80%<br>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="members">
                    <div class="profile-card">
                        <div class="front">
                            <img src="../assets/images/chat4.png" alt="" class="img-fluid">

                        </div>
                        <div class="back">
                            <h3>Pooja</h3>
                            <p>
                                <b>Completed tasks:</b> 30<br>
                                <b>Task name:</b> Task management<br>
                                <b>Progress:</b> 80%<br>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>