#tasks:hover {
    transform: scale(1.01);
  }
  
  .task{
    border-radius:10px;
  }
  /* Custom CSS for effects */
  .task-name {
    flex-grow: 1; /* Let the task name take up all available space */
    transition: color 0.3s ease-in-out; /* Add transition effect for color change */
  }
  
  .task-name:hover {
    color: #17a2b8; /* Change color on hover */
  }
  
  .btn-group button {
    transition: transform 0.3s ease-in-out; /* Add transition effect for button transform */
  }
  
  .btn-group button:hover {
    transform: scale(1.1); /* Scale up the button on hover */
  }
  
